.mn-policy-info-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--divider-color);
    border-radius: 10px;
    overflow-x: hidden;
    box-shadow: var(--box-shadow);
}

.mn-policy-info-container .input-text-wrapper {
    width: auto;
}

.mn-policy-info-container .mini-pool-policy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: var(--highlight-color);
    border-bottom: 1px solid var(--divider-color);
}

.mini-pool-policy-header h2 {
    font-weight: 600;
    font-size: 20px;
}

.mini-pool-policy-body {
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.mn-policy-info-container .mnpc-search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.session-sub-info {
    text-align: start;
    margin-bottom: 10px;
    font-size: 17px;
}

.nmpc-horizontal-line {
    height: 1px;
    width: 100%;
    background-color: var(--divider-color);
    margin-top: 15px;
    margin-bottom: 10px;
}

.confirm-trigger {
    margin-block: auto;
}