@import url('../../assets/css_constains/root.css');

.button {
    font-family: var(--web-font);
    font-size: 16px;
    color: var(--text-color);
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    min-width: 100px;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    cursor: not-allowed;
}

button:active {
    opacity: 0.9;
}

.button.primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.button.secondary {
    background-color: var(--muted-text);
    color: var(--background-color);
    border: 1px solid var(--muted-text);
}

button.tertiary {
    background-color: var(--add-new-color);
    color: var(--text-color);
    border: 1px solid transparent;
}

