.outlet-content .pool-table-container {
    margin-inline: 0px;
    min-height: 350px;
}

.policy-card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    gap: 10px;
}

.policy-card-content .name {
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 17px;
}

.policy-card-content .search-box {
    display: flex;
    gap: 20px;
}