
.sign-up-form {
    display: flex;
    border: 1px solid var(--divider-color);
    box-shadow: var(--box-shadow);
    background: var(--background-alt);
    padding: 55px 35px;
    border-radius: 10px;
    min-height: 500px;
    width: 450px;
}

.sign-up-form-1, .sign-up-form-2, .sign-up-form-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    max-width: 380px;
    margin-inline: auto;
}

.sign-up-form-1 h2, 
.sign-up-form-2 h2,
.sign-up-form-3 h2 {
    font-weight: bold;
    font-size: 30px;
    font-family: var(--web-font-secondary);
    color: var(--text-color);
}

.sign-up-form-1 h3, 
.sign-up-form-2 h3,
.sign-up-form-3 h3 {
    font-weight: normal;
    font-size: 22px;
    font-family: var(--web-font-secondary);
    color: var(--muted-text);
    margin-block: 25px;
}

.sign-up-form-1 .password-inputs {
    display: flex;
    width: 100%;
    gap: 10px;
}

.sign-up-form-1 .password-inputs > .input-text-wrapper {
    width: calc(50% - 5px) !important;
}

.sign-up-form .input-text-container {
    width: 100% !important;
}

.sign-up-form-1 .email-input-group {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: end;
}

.sign-up-form-1 .email-input-group > .input-text-wrapper {
    width: calc(75% - 5px) !important;
}

.sign-up-form-1 .email-input-group > .button {
    width: calc(25% - 5px);
    min-width: 0;
    height: 60%;
}

.form-2-group {
    display: flex;
    width: 100%;
    align-items: end;
    gap: 10px;
}

.form-2-group > .input-text-wrapper {
    width: calc(75% - 5px) !important;
}

.form-2-group > .countdown-button  {
    height: 60%;
    width: calc(25% - 5px) !important;
}

.form-2-small {
    text-align: start;
    font-size: 14px;
    color: var(--muted-text);
    margin-block: 10px;
}

.form-2-buttons {
    display: flex;
    width: 100%;
    gap: 10px;
}

.sign-up-form-3 > h3 {
    font-weight: bold;
    color: var(--text-color);
}

.form-3-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.form-3-message {
    font-size: 22px;
    text-align: start;
    color: var(--muted-text);
}

.form-consider {
    color: var(--muted-text);
    font-size: 16px;
    width: 100%;
}

.form-consider a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
}

.form-consider a:hover {
    text-decoration: underline;
}