.user-pool-info-screen-container .card-pool-content .verticle-line {
    height: auto !important;
}

.qa-card-content .content-right .key-value {
    max-width: 470px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.update-mail-config-box h2 {
    text-align: start;
    font-weight: 600;
    margin-bottom: 10px;
}

.update-mail-config-box .input-text-wrapper {
    margin-bottom: 10px;
}

.update-mail-config-box .btns-container {
    width: 100%;
    text-align: end;
}

.update-mail-config-box .btns-container > button {
    margin-left: 10px;
}