@font-face {
    font-family: 'Istok Web';
    src: url('../fonts/Istok_Web/IstokWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #007BFF;
    --primary-light: #E6F0FF;
    --primary-dark: #0056b3;
    --background-color: #FFFFFF;
    --background-alt: #F8FAFC;
    --text-color: #212529;
    --muted-text: #6C757D;
    --disabled-text: #ADB5BD;
    --accent-color: #17A2B8;
    --accent-disabled: #B1E5EC;
    --border-color: #DEE2E6;
    --divider-color: #E9ECEF;
    --success-color: #28A745;
    --success-disabled: #A8DAB5;
    --warning-color: #FFC107;
    --warning-disabled: #FFE8A1;
    --danger-color: #DC3545;
    --danger-disabled: #F5AEB6;
    --highlight-color: #EFF6FF;
    --table-header-bg: #F8F9FA;
    --add-new-color: #F5BF1E;
    --web-font: "Istok Web", sans-serif;
    --web-font-secondary: 'Inter', sans-serif;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.spacer-10 {
    height: 10px;
}

.spacer-20 {
    height: 20px;
}

.spacer-30 {
    height: 30px;
}

.flex-1 {
    flex: 1;
}