.user-data-content {
    padding: 10px;
    min-height: 220px;
}

.user-data-content h2 {
    font-weight: 600;
    text-align: start;
}

.user-data-content .button-container {
    display: flex;
    gap: 10px;
}