
.input-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  width: 100%;
}

.input-label {
  font-weight: 400;
  color: #333;
}

.input-text-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0px 10px;
  background-color: #fff;
  transition: border-color 0.3s ease;
  width: 100%;
}

.input-text-container:focus-within {
  border-color: var(--primary-color);
}

.input-icon {
  margin-right: 8px;
  color: var(--muted-text);
}

.input-text {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
  padding-block: 10px;
}

.input-text-container.disabled {
  opacity: 0.6;
  pointer-events: none;
}
