.outlet-content .tatle-container {
    margin-inline: 0px;
    min-height: 350px;
}

.policy-card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    gap: 10px;
}

.policy-card-content .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}
